<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<f:subview id="usuarioFormPage">
	
		<p:messages id="messages" />
		<br/>
		<h:panelGrid columns="1" width="100%" id="enzymePanelGrid">
			<h:panelGroup>
				<h:outputLabel value="#{msg.name}" for="name" styleClass="label"/><br />
				<p:inputText id="name"
						value="#{enzymeController.enzyme.name}"
						readonly="#{enzymeController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>			
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.codon}" for="principalValue" styleClass="label"/><br />
				<p:inputText id="principalValue"
						value="#{enzymeController.enzyme.principalValue}"
						readonly="#{enzymeController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.courtPosition}" for="principalCourtPosition" styleClass="label"/><br />
				<p:inputText id="principalCourtPosition"
						value="#{enzymeController.enzyme.principalCourtPosition}"
						readonly="#{enzymeController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.complementCodon}" for="complementValue" styleClass="label"/><br />
				<p:inputText id="complementValue"
						value="#{enzymeController.enzyme.complementValue}"
						readonly="#{enzymeController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.courtPosition}" for="complementCourtPosition" styleClass="label"/><br />
				<p:inputText id="complementCourtPosition"
						value="#{enzymeController.enzyme.complementCourtPosition}"
						readonly="#{enzymeController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

		</h:panelGrid>
	</f:subview>
</ui:composition>
