<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="content">
		<h:panelGrid id="savePlasmid" width="100%">
			<p:panel header="#{msg.insert}" style="margin-bottom:10px;">
				<h:form>  
					<p:dataTable
							value="#{enzymeController.enzymes}" 
							var="enzyme"
							rowClasses="even, odd"
							paginator="true" 
							rows="10"  
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
							rowsPerPageTemplate="5,10,20,50,100"
						>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.accession}
							</f:facet>
							#{enzyme.accession}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.name}
							</f:facet>
							#{enzyme.name}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.codon}
							</f:facet>
							#{enzyme.principalValue}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.courtPosition}
							</f:facet>
							#{enzyme.principalCourtPosition}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.complementCodon}
							</f:facet>
							#{enzyme.complementValue}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.courtPosition}
							</f:facet>
							#{enzyme.complementCourtPosition}
						</p:column>
					</p:dataTable>
					<center>
						<p:commandButton action="#{enzymeController.saveBatch}" 
								value="#{msg.save}" 
								ajax="false"
							/>
					</center>
				</h:form>			
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
