<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.changePassword}" style="margin-bottom:10px;">
				<h:form>
					<table align="center">
						<tr>
							<td>
								<h:outputLabel value="#{msg.name}" for="nome" styleClass="label"/><br />
								<p:inputText id="nome"
										value="#{usuarioController.usuario.nome}"
										required="true"
										requiredMessage="#{msg.usuarioMsgNomeObrigatorio}"
										disabled="true"
									/>						
							</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel value="#{msg.email}" for="email" styleClass="label"/><br />
								<p:inputText id="email"
										value="#{usuarioController.usuario.email}"
										required="true"
										requiredMessage="#{msg.usuarioMsgEmailObrigatorio}"
										disabled="true"
									>
									<f:validator validatorId="emailValidator" />
								</p:inputText>						
							</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel value="#{msg.userType}" for="comboTipoUsuario" styleClass="label"/><br />
								<p:selectOneMenu id="comboTipoUsuario"
										value="#{usuarioController.usuario.tipoUsuario}"
										disabled="true">
									<f:selectItems value="#{usuarioController.tiposUsuario}" 
											var="tipoUsuario" 
											itemValue="#{tipoUsuario}" 
											itemLabel="#{msg[tipoUsuario]}" 
										/>
									<f:converter converterId="intEnumConverter" />
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel value="#{msg.password}" for="senha" styleClass="label"/><br />
								<p:password id="senha" 
										value="#{usuarioController.password}"
										required="true"
										requiredMessage="#{msg.usuarioMsgSenhaObrigatorio}" 
										feedback="true"
									/>
							</td>
						</tr>
					</table>
					<center>
						<p:commandButton action="#{usuarioController.editarUsuario}" 
								value="#{msg.changePassword}" 
								ajax="false"
							/>
					</center>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
