<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.usuarioMsgListar}" style="margin-bottom:10px;">
				<h:form>
					<p:growl id="growl" sticky="true" showDetail="true"/>
					
					<p:dataTable
							value="#{usuarioController.usuarios}" 
							var="usuario"
							rowClasses="even, odd"
							paginator="true" 
							rows="10"  
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
							rowsPerPageTemplate="5,10,20,50,100"
						>
						<p:column
								sortable="false"
								style="text-align:center;"
							>
							<f:facet name="header">
								#{msg.id}
							</f:facet>
							#{usuario.id}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.name}
							</f:facet>
							#{usuario.nome}
						</p:column>
						<p:column sortable="false" >
							<f:facet name="header">
								#{msg.email}
							</f:facet>
							#{usuario.email}
						</p:column>
						<p:column sortable="false" >
							<f:facet name="header">
								#{msg.userType}
							</f:facet>
							#{msg[usuario.tipoUsuario]}
						</p:column>
						<p:column sortable="false" style="text-align:center;">
							<f:facet name="header">
								#{msg.actions}
							</f:facet>
						    <p:menuButton value=" ">  
								<p:menuitem value="#{msg.edit}"
					            		action="#{usuarioController.editarUsuarioOpen}" 
										icon="ui-icon-pencil"
										ajax="false"
										rendered="#{not empty usuarioController.usuarioAutenticado}"
					            	/>
								<p:menuitem value="#{msg.remove}"
					            		action="#{usuarioController.removerUsuarioOpen}" 
										icon="ui-icon-trash"
										ajax="false"
										rendered="#{not empty usuarioController.usuarioAutenticado}"
					            	/>
						    </p:menuButton>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
