<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.usuarioMsgEntreCredenciais}" style="margin-bottom:10px; width: 400px; margin-left: auto; margin-right: auto;" >
				<h:form>
					<p:messages id="messages"/>
					<table align="center">
						<tr>
							<td>
								<h:outputLabel value="#{msg.email}" for="email" styleClass="label"/><br />
								<p:inputText id="email"
										value="#{usuarioController.usuario.email}"
										required="true"
										requiredMessage="#{msg.usuarioMsgEmailObrigatorio}"
									>
									<f:validator validatorId="emailValidator" />
								</p:inputText>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel value="#{msg.password}" for="senha" styleClass="label"/><br />
								<p:password id="senha" 
										value="#{usuarioController.password}"
										required="true"
										requiredMessage="#{msg.usuarioMsgSenhaObrigatorio}" 
										feedback="false"
									>
								</p:password>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<p:commandButton 
										action="#{usuarioController.autenticarUsuario}" 
										value="#{msg.login}"
										ajax="false"
									/>
							</td>
						</tr>
					</table>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
