<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.usuarioMsgRemover}" style="margin-bottom:10px;">
				<h:form>
					<table align="center">
						<tr>
							<td>
								#{msg.name}:
							</td>
							<td>
								#{usuarioController.usuario.nome}
							</td>
						</tr>
						<tr>
							<td>
								#{msg.email}:
							</td>
							<td>
								#{usuarioController.usuario.email}
							</td>
						</tr>
						<tr>
							<td>
								#{msg.userType}:
							</td>
							<td>
								#{msg[usuarioController.usuario.tipoUsuario]}
							</td>
						</tr>
						<tr>
							<td align="center" colspan="2">
								<p:commandButton 
										action="#{usuarioController.removerUsuario}" 
										value="#{msg.remove}" 
										ajax="false"
									/>
							</td>
						</tr>
					</table>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
