<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.list}" style="margin-bottom:10px;">
				<h:form>
					<p:growl id="growl" sticky="true" showDetail="true"/>
					
					<h:outputLabel value="#{msg.searchByAccession}" for="searchByAccession" /> <br />
					<p:inputText id="searchByAccession"
							value="#{enzymeController.nameSearch}"
							style="width: 90%" 
						/>
						
					<p:commandButton 
							action="#{enzymeController.findByName}"
							title="#{msg.find}"
							icon="ui-icon-search"
							ajax="false"
						/>
						
					<p:commandButton 
							action="#{enzymeController.listOpen}"
							title="#{msg.cleanSearch}"
							icon="ui-icon-circle-close"
							ajax="false"
						/>
					
					<p:dataTable
							value="#{enzymeController.enzymes}" 
							var="enzyme"
							rowClasses="even, odd"
							paginator="true" 
							rows="10"  
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
							rowsPerPageTemplate="5,10,20,50,100"
						>
						<p:column sortable="true" sortBy="#{enzyme.accession}" filterBy="#{enzyme.accession}">
							<f:facet name="header">
								#{msg.accession}
							</f:facet>
							#{enzyme.accession}
						</p:column>
						<p:column sortable="true" sortBy="#{enzyme.name}" filterBy="#{enzyme.name}">
							<f:facet name="header">
								#{msg.name}
							</f:facet>
							#{enzyme.name}
						</p:column>
						<p:column sortable="true"
								sortBy="#{enzyme.principalValue}"
								filterBy="#{enzyme.principalValue}"
							>
							<f:facet name="header">
								#{msg.codon}
							</f:facet>
							#{enzyme.principalValue}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.courtPosition}
							</f:facet>
							#{enzyme.principalCourtPosition}
						</p:column>
						<p:column sortable="true"
								sortBy="#{enzyme.complementValue}"
								filterBy="#{enzyme.complementValue}"
							>
							<f:facet name="header">
								#{msg.complementCodon}
							</f:facet>
							#{enzyme.complementValue}
						</p:column>
						<p:column sortable="false">
							<f:facet name="header">
								#{msg.courtPosition}
							</f:facet>
							#{enzyme.complementCourtPosition}
						</p:column>

						<p:column sortable="false" style="text-align:center;">
							<f:facet name="header">
								#{msg.actions}
							</f:facet>
						    <p:menuButton value=" ">  
								<p:menuitem value="#{msg.show}"
					            		action="#{enzymeController.showOpen}" 
					            		ajax="false"
					            		icon="ui-icon-search"
					            	/>
								<p:menuitem value="#{msg.edit}"
					            		action="#{enzymeController.editOpen}" 
										icon="ui-icon-pencil"
										ajax="false"
										rendered="#{not empty usuarioController.usuarioAutenticado}"
					            	/>
								<p:menuitem value="#{msg.remove}"
					            		action="#{enzymeController.deleteOpen}" 
										icon="ui-icon-trash"
										ajax="false"
										rendered="#{not empty usuarioController.usuarioAutenticado}"
					            	/>
						    </p:menuButton>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
