<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid id="saveEnzyme" width="100%">
			<p:panel header="#{msg.show}" style="margin-bottom:10px;">
				<h:form>  
					<ui:include src="../admin/enzyme/_form.xhtml" />
				</h:form>			
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
