<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<f:subview id="menuSistema">
		<h:panelGrid width="100%">
			<h:form>
			    <p:menubar>  
			        <p:submenu label="#{msg.plasmid}">  
			            <p:menuitem value="#{msg.loadFile}" 
			            		action="#{plasmidController.loadFileOpen}" 
			            		ajax="false"
			            		rendered="#{not empty usuarioController.usuarioAutenticado}"
			            	/>
			            <p:menuitem value="#{msg.plasmidList}" 
			            		action="#{plasmidController.listOpen}" 
			            		ajax="false"
			            	/>
			        </p:submenu>  
			        <p:submenu label="#{msg.enzyme}">
			            <p:menuitem value="#{msg.loadFile}" 
			            		action="#{enzymeController.loadFileOpen}" 
			            		ajax="false"
			            		rendered="#{not empty usuarioController.usuarioAutenticado}"
			            	/>
			            <p:menuitem value="#{msg.insert}" 
			            		action="#{enzymeController.insertOpen}" 
			            		ajax="false"
			            		rendered="#{not empty usuarioController.usuarioAutenticado}"
			            	/>
			            <p:menuitem value="#{msg.list}" 
			            		action="#{enzymeController.listOpen}" 
			            		ajax="false"
			            	/>
			        </p:submenu>
			        <p:submenu label="#{msg.user}" rendered="#{not empty usuarioController.usuarioAutenticado}">  
			            <p:menuitem value="#{msg.insert}" 
			            		action="#{usuarioController.incluirUsuarioOpen}" 
			            		rendered="#{usuarioController.usuarioAutenticado.tipoUsuario == 'ADM'}"
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.list}" 
			            		action="#{usuarioController.listarUsuariosOpen}"
			            		rendered="#{usuarioController.usuarioAutenticado.tipoUsuario == 'ADM'}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.changePassword}" 
			            		action="#{usuarioController.changepasswordOpen}"
			            		ajax="false"
			            	/>  
			        </p:submenu>
			        <p:submenu label="#{msg.help}">
			            <p:menuitem value="#{msg.howTo}" 
			            		action="#{menuController.openHowTo}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.aboutSystem}" 
			            		action="#{menuController.openAbout}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.glossary}" 
			            		action="#{menuController.openGlossary}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.team}" 
			            		action="#{menuController.openTeam}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.portal}" 
			            		action="#{menuController.openPortal}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.helpDraw}" 
			            		action="#{menuController.openDraw}" 
			            		ajax="false"
			            	/>
			            <p:menuitem value="#{msg.research}" 
			            		action="#{menuController.openResearch}" 
			            		ajax="false"
			            	/>
			        </p:submenu>
			    </p:menubar>
			</h:form>
		</h:panelGrid>
	</f:subview>
</ui:composition>
