<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid id="savePlasmid" width="100%">
			<p:panel header="#{msg.plasmidDialogInputData}">
				<h:form id="experimentForm">
				
					<p:messages showDetail="true" autoUpdate="true" rendered="true"/>
					
					<h:panelGrid columns="1" width="100%">
						<h:panelGroup>
							<h:outputLabel value="#{msg.name}" for="nameInserted" styleClass="label"/><br />
							<p:inputText id="nameInserted"
									value="#{plasmidController.nameInserted}"
									rendered="#{plasmidController.disabledField}"
									style="width: 100%;"
								/>
							<br />
							<h:outputLabel value="#{msg.plasmidSequenceInserted}" for="sequenceInserted" styleClass="label"/><br />
							<p:inputTextarea id="sequenceInserted"
									value="#{plasmidController.sequenceInserted}"
									rendered="#{plasmidController.disabledField}"
									style="width: 100%;"
									autoResize="false"
									rows="10"
								>
								<p:ajax event="valueChange"
										update=":experimentForm:sequenceInsertedSize"
										immediate="true"
									/>
							</p:inputTextarea>
							<br />
							<h:outputLabel value="#{msg.size}: " for="sequenceInsertedSize" styleClass="label"/>
							<h:outputText id="sequenceInsertedSize"
									value="#{plasmidController.sequenceInsertedSize}"
								/>
						</h:panelGroup>
						<p:spacer width="10px"/>
						<h:panelGroup>
							<p:commandButton value="#{msg.plasmidBtnInputData}"
									action="#{plasmidController.processElectiveEnzymes}"
									ajax="false"
								/>						
						</h:panelGroup>
						<p:spacer width="10px"/>
						<h:panelGroup>
							<h:panelGrid columns="1" width="100%">
								<p:dataTable
										value="#{plasmidController.electiveEnzymes}" 
										var="enzyme"
										rowClasses="even, odd"
										paginator="true" 
										rows="10"  
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
									>
									<p:column sortable="true" sortBy="#{enzyme.accession}" filterBy="#{enzyme.accession}">
										<f:facet name="header">
											#{msg.accession}
										</f:facet>
										#{enzyme.accession}
									</p:column>
									<p:column sortable="true" sortBy="#{enzyme.name}" filterBy="#{enzyme.name}">
										<f:facet name="header">
											#{msg.name}
										</f:facet>
										#{enzyme.name}
									</p:column>
			
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.enzymeInitialSelect}
										</f:facet>
										<center>
											<p:commandLink type="button" 
													title="#{msg.enzymeInitialSelect}"
													action="#{plasmidController.selectecEnzymeAsInitial}"
													ajax="true"
													immediate="true"
													update=":experimentForm:selectedEnzymes"
													styleClass="ui-icon ui-icon-circle-arrow-s"
												/>										
										</center>
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.enzymeFinalSelect}
										</f:facet>
										<center>
											<p:commandLink type="button" 
													title="#{msg.enzymeFinalSelect}"
													action="#{plasmidController.selectecEnzymeAsFinal}"
													ajax="true"
													immediate="true"
													update=":experimentForm:selectedEnzymes"
													styleClass="ui-icon ui-icon-circle-arrow-s"
												/>										
										</center>
									</p:column>
								</p:dataTable>
								
								<h:panelGroup id="selectedEnzymes">
									<table style="width: 100%;">
										<tr>
											<td width="50%" valign="top">
												<p:panel header="#{msg.enzymeInitialSelected}" width="100%" rendered="#{not empty plasmidController.initialCourtEnzymeSelected}">
													<h:outputLabel value="#{msg.name}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.name}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.accession}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.accession}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.codon}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.principalValue}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.courtPosition}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.principalCourtPosition}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.complementCodon}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.complementValue}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.courtPosition}"/> <br />
													<p:inputText value="#{plasmidController.initialCourtEnzymeSelected.complementCourtPosition}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.enzymeCourtPosPlasmid}"/> <br />
													<p:selectOneMenu value="#{plasmidController.initialPlasmidCourtPosition}" style="width: 200px;">
														<f:selectItems value="#{plasmidController.initialCourtEnzymeSelected.plasmidCourtPosition}" 
																var="plasmidCourtPosition" 
																itemValue="#{plasmidCourtPosition}" 
																itemLabel="#{plasmidCourtPosition}" 
															/>
													</p:selectOneMenu>
													<br />
													 
													<h:outputLabel value="#{msg.enzymeCourtPosSequence}"/> <br />
													<h:outputText value="#{plasmidController.initialSequenceCourtPosition}" />
													<br />
												</p:panel>							
											</td>
											<td width="50%" valign="top">
												<p:panel header="#{msg.enzymeFinalSelected}" width="100%" rendered="#{not empty plasmidController.finalCourtEnzymeSelected}">
													<h:outputLabel value="#{msg.name}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.name}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.accession}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.accession}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.codon}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.principalValue}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.courtPosition}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.principalCourtPosition}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.complementCodon}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.complementValue}"
															readonly="true"
															style="width: 100%"
														/>
														
													<h:outputLabel value="#{msg.courtPosition}"/> <br />
													<p:inputText value="#{plasmidController.finalCourtEnzymeSelected.complementCourtPosition}"
															readonly="true"
															style="width: 100%"
														/>
													
													<h:outputLabel value="#{msg.enzymeCourtPosPlasmid}"/> <br />
													<p:selectOneMenu value="#{plasmidController.finalPlasmidCourtPosition}" style="width: 200px;">
														<f:selectItems value="#{plasmidController.finalCourtEnzymeSelected.plasmidCourtPosition}" 
																var="plasmidCourtPosition" 
																itemValue="#{plasmidCourtPosition}" 
																itemLabel="#{plasmidCourtPosition}" 
															/>
													</p:selectOneMenu>
													<br />
													
													<h:outputLabel value="#{msg.enzymeCourtPosSequence}"/> <br />
													<h:outputText value="#{plasmidController.finalSequenceCourtPosition}" />
													<br />
												</p:panel>
											</td>
										</tr>
									</table>
								</h:panelGroup>
								<h:panelGroup>
									<h:outputLabel value="#{msg.plasmidFeatureDirection}" for="comboDirection" styleClass="label"/><br />
									<p:selectOneMenu id="comboDirection"
											value="#{plasmidController.newPlasmidDirection}">
										<f:selectItems value="#{plasmidController.directions}" 
												var="direction" 
												itemValue="#{direction}" 
												itemLabel="#{msg[direction]}" 
											/>
										<f:converter converterId="intEnumConverter" />
									</p:selectOneMenu>
								</h:panelGroup>
							</h:panelGrid>
						</h:panelGroup>	
					</h:panelGrid>
						
					<center>
						<p:commandButton 
								value="#{msg.runExperiment}" 
								action="#{plasmidController.processNewPlasmid}" 
								ajax="false"
							/>
					</center>
				</h:form>			
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
