<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid width="100%">
			<p:panel header="#{msg.plasmidList}" style="margin-bottom:10px;">
				<h:form>
					<p:growl id="growl" sticky="true" showDetail="true"/>
					
					<h:outputLabel value="#{msg.searchByAccession}" for="accessionSearch" /> <br />
					<p:inputText id="accessionSearch"
							value="#{plasmidController.accessionSearch}"
							style="width: 90%" 
						/>
						
					<p:commandButton 
							action="#{plasmidController.findByAccession}"
							title="#{msg.find}"
							icon="ui-icon-search"
							ajax="false"
						/>
						
					<p:commandButton 
							action="#{plasmidController.listOpen}"
							title="#{msg.cleanSearch}"
							icon="ui-icon-circle-close"
							ajax="false"
						/>
					
					<p:dataTable
							value="#{plasmidController.plasmids}" 
							var="plasmid"
							rowClasses="even, odd"
							paginator="true" 
							rows="10"  
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
							rowsPerPageTemplate="5,10,20,50,100"
						>
						<p:column sortable="true"
								sortBy="#{plasmid.accession}"
								filterBy="#{plasmid.accession}"
								style="text-align:center;"
							>
							<f:facet name="header">
								#{msg.accession}
							</f:facet>
							#{plasmid.accession}
						</p:column>
						<p:column sortable="true"
								sortBy="#{plasmid.locus}"
								filterBy="#{plasmid.locus}"
							>
							<f:facet name="header">
								#{msg.plasmidLocus}
							</f:facet>
							#{plasmid.locus}
						</p:column>
						<p:column sortable="false" >
							<f:facet name="header">
								#{msg.plasmidDefinition}
							</f:facet>
							#{plasmid.definition}
						</p:column>
						<p:column sortable="true" 
								sortBy="#{plasmid.version}"
								filterBy="#{plasmid.version}"
							>
							<f:facet name="header">
								#{msg.plasmidVersion}
							</f:facet>
							#{plasmid.version}
						</p:column>
						<p:column sortable="true" 
								sortBy="#{plasmid.keywords}"
								filterBy="#{plasmid.keywords}"
							>
							<f:facet name="header">
								#{msg.plasmidKeywords}
							</f:facet>
							#{plasmid.keywords}
						</p:column>
						<p:column sortable="true" 
								sortBy="#{plasmid.source}"
								filterBy="#{plasmid.source}"
							>
							<f:facet name="header">
								#{msg.plasmidSource}
							</f:facet>
							#{plasmid.source}
						</p:column>
						<p:column sortable="false" style="text-align:center;">
							<f:facet name="header">
								#{msg.actions}
							</f:facet>
						    <p:menuButton value=" ">  
								<p:menuitem value="#{msg.show}"
					            		action="#{plasmidController.showOpen}" 
					            		ajax="false"
					            		icon="ui-icon-search"
					            	/>
								<p:menuitem value="#{msg.remove}"
					            		action="#{plasmidController.deleteOpen}" 
										icon="ui-icon-trash"
										ajax="false"
										rendered="#{not empty usuarioController.usuarioAutenticado}"
					            	/>
						    </p:menuButton>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
