<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid id="savePlasmid" width="100%">
			<p:panel header="#{msg.plasmidShow}" style="margin-bottom:10px;">
				<h:form>
					<h:panelGroup>
						<p:commandButton value="#{msg.plasmidBtnInputData}"
								rendered="#{plasmidController.disabledField}"
								action="#{plasmidController.experimentOpen}"
								ajax="false"
							/>
					</h:panelGroup>
					<ui:include src="../admin/plasmid/_form.xhtml" />
				</h:form>			
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
