<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<f:subview id="usuarioFormPage">
	
		<p:messages id="messages" />
		<br/>
		<h:panelGrid columns="1" width="100%" id="plasmidPanelGrid">
			<h:panelGroup>
				<table style="width: 100%;">
					<tr>
						<td width="50%" valign="top">
							<h:outputLabel value="#{msg.plasmidChartDunet}" for="plasmidDunetChart" styleClass="label"/><br />
							<p:graphicImage id="plasmidDunetChart" 
									value="#{plasmidController.plasmidDunetChart}" 
									width="100%"
								/>								
						</td>
						<td width="50%" valign="top">
							<h:panelGroup rendered="#{not empty plasmidController.newPlasmidDunetChart}">
								<h:outputLabel value="#{msg.plasmidNewChartDunet}" for="newPlasmidDunetChart" styleClass="label"/><br />
								<p:graphicImage id="newPlasmidDunetChart" 
										value="#{plasmidController.newPlasmidDunetChart}" 
										width="100%"
									/>								
							</h:panelGroup>
						</td>
					</tr>
				</table>

				<p:commandButton type="button" value="#{msg.zoom}" onclick="chartDialog.show(); chartDialog.toggleMaximize();" update="chartDialog"/>
				
				<p:dialog header="#{msg.plasmidCharts}" 
						widgetVar="chartDialog" 
						modal="true" 
						maximizable="true"
						onHide="chartDialog.toggleMaximize();" 
						id="chartDialog" 
						footer="#{msg.footerText}"
					>  
					<table style="width: 100%;">
						<tr>
							<td style="width: 100%;" align="center">
								<p:galleria id="chartGalleryZoom" 
										transitionInterval="0" 
										showFilmstrip="true" 
										showOverlays="true"
										panelHeight="600"
										panelWidth="800"
									>
									<p:graphicImage id="plasmidDunetChart" 
											value="#{plasmidController.plasmidDunetChart}" 
											width="100%"
											title="#{msg.plasmidChartDunet}"
										/>
									<p:graphicImage id="newPlasmidDunetChart" 
											value="#{plasmidController.newPlasmidDunetChart}" 
											width="100%"
											title="#{msg.plasmidNewChartDunet}"
											rendered="#{not empty plasmidController.newPlasmidDunetChart}"
										/>	
								</p:galleria>
							</td>
						</tr>
					</table>
				</p:dialog> 
			</h:panelGroup>
		
			<h:panelGroup>
				<h:outputLabel value="#{msg.accession}" for="accession" styleClass="label"/><br />
				<p:inputTextarea id="accession"
						value="#{plasmidController.plasmid.accession}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>			
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.plasmidLocus}" for="locus" styleClass="label"/><br />
				<p:inputTextarea id="locus"
						value="#{plasmidController.plasmid.locus}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.plasmidDefinition}" for="definition" styleClass="label"/><br />
				<p:inputTextarea id="definition"
						value="#{plasmidController.plasmid.definition}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>

			<h:panelGroup>
				<h:outputLabel value="#{msg.plasmidVersion}" for="version" styleClass="label"/><br />
				<p:inputTextarea id="version"
						value="#{plasmidController.plasmid.version}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>
			
			<h:panelGroup>
				<h:outputLabel value="#{msg.plasmidKeywords}" for="keywords" styleClass="label"/><br />
				<p:inputTextarea id="keywords"
						value="#{plasmidController.plasmid.keywords}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>
			
			<h:panelGroup>
				<h:outputLabel value="#{msg.plasmidSource}" for="source" styleClass="label"/><br />
				<p:inputTextarea id="source"
						value="#{plasmidController.plasmid.source}"
						readonly="#{plasmidController.disabledField}"
						style="width: 100%;"
						rows="3"
					/>
			</h:panelGroup>
			
			<h:panelGroup>
				<p:dataTable id="tableReferences"
						value="#{plasmidController.plasmid.references}" 
						var="reference"
						styleClass="dataTable"
						rowClasses="even, odd"
					>
					<f:facet name="header">
						#{msg.plasmidReferences}
					</f:facet>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferenceOrigin}
						</f:facet>
						#{reference.origin}
					</p:column>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferenceAuthors}
						</f:facet>
						#{reference.authors}
					</p:column>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferenceTitle}
						</f:facet>
						#{reference.title}
					</p:column>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferenceJournal}
						</f:facet>
						#{reference.journal}
					</p:column>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferencePubmed}
						</f:facet>
						<center>
							#{reference.pubmed}	
						</center>
					</p:column>
					<p:column sortable="false">
						<f:facet name="header">
							#{msg.plasmidReferenceRemark}
						</f:facet>
						#{reference.remark}
					</p:column>
				</p:dataTable>
			</h:panelGroup>
			
			<h:panelGroup>
				<table style="width: 100%;">
					<tr>
						<td width="100%" valign="top">
							<p:dataTable id="tableFeatures"
									value="#{plasmidController.plasmid.features}" 
									var="feature"
									styleClass="dataTable"
									rowClasses="even, odd"
								>
								<f:facet name="header">
									#{msg.features}
								</f:facet>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.name}
									</f:facet>
									#{feature.name}
								</p:column>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidFeatureStartPosition}
									</f:facet>
									<center>
										#{feature.startPosition}	
									</center>
								</p:column>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidFeatureEndPosition}
									</f:facet>
									<center>
										#{feature.endPosition}	
									</center>
								</p:column>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidFeatureDirection}
									</f:facet>
									<center>
										#{msg[feature.direction]}
									</center>
								</p:column>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidFeatureDetails}
									</f:facet>
									#{feature.details}
								</p:column>
								<p:column sortable="false" style="text-align:center;" rendered="#{plasmidController.canDeleteFeature}">
									<p:commandLink 
											actionListener="#{plasmidController.deleteFeature}" 
											title="#{msg.remove}"
											update="@form"
											ajax="true"
											immediate="true" 
											styleClass="ui-icon ui-icon-trash"
										/>	
								</p:column>
							</p:dataTable>
						</td>
					</tr>
					<tr>
						<td width="100%" valign="top">
							<h:panelGroup rendered="#{not empty plasmidController.newPlasmid and not empty plasmidController.newPlasmid.features}">
								<p:dataTable id="tableNewFeatures"
										value="#{plasmidController.newPlasmid.features}" 
										var="feature"
										styleClass="dataTable"
										rowClasses="even, odd"
									>
									<f:facet name="header">
										#{msg.featuresNewPlasmid}
									</f:facet>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.name}
										</f:facet>
										#{feature.name}
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidFeatureStartPosition}
										</f:facet>
										<center>
											#{feature.startPosition}	
										</center>
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidFeatureEndPosition}
										</f:facet>
										<center>
											#{feature.endPosition}	
										</center>
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidFeatureDirection}
										</f:facet>
										<center>
											#{msg[feature.direction]}
										</center>
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidFeatureDetails}
										</f:facet>
										#{feature.details}
									</p:column>
								</p:dataTable>
							</h:panelGroup>
						</td>
					</tr>
				</table>
			</h:panelGroup>
			
			<h:panelGroup>
				<table style="width: 100%;">
					<tr>
						<td width="50%" valign="top">
							<p:dataTable id="tableSequences"
									value="#{plasmidController.plasmid.longSequences}" 
									var="sequence"
									styleClass="dataTable"
									rowClasses="even, odd"
								>
								<f:facet name="header">
									#{msg.plasmidSequences}
								</f:facet>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidSequenceInitialPosition}
									</f:facet>
									<center>
										#{sequence.sequenceInitialPosition}	
									</center>
								</p:column>
								<p:column sortable="false">
									<f:facet name="header">
										#{msg.plasmidSequenceValue}
									</f:facet>
									<h:outputText value="#{sequence.value}" style="font-size: 10px;" />
								</p:column>
							</p:dataTable>
						</td>
						<td width="50%" valign="top">
							<h:panelGroup rendered="#{not empty plasmidController.newPlasmid and not empty plasmidController.newPlasmid.longSequences}">
								<p:dataTable id="tableNewSequences"
										value="#{plasmidController.newPlasmid.longSequences}" 
										var="sequence"
										styleClass="dataTable"
										rowClasses="even, odd"
									>
									<f:facet name="header">
										#{msg.plasmidSequences}
									</f:facet>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidSequenceInitialPosition}
										</f:facet>
										<center>
											#{sequence.sequenceInitialPosition}	
										</center>
									</p:column>
									<p:column sortable="false">
										<f:facet name="header">
											#{msg.plasmidSequenceValue}
										</f:facet>
										<h:outputText value="#{sequence.value}" style="font-size: 10px;" escape="false"/>
									</p:column>
								</p:dataTable>
							</h:panelGroup>
						</td>
					</tr>
				</table>
			</h:panelGroup>

		</h:panelGrid>
		
		<script>
			jQuery(function() {
				$( "#btnRemoveFeature .submit" ).button();
			});
		</script>
	</f:subview>
</ui:composition>
