<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="content">
		<h:panelGrid id="loadPlasmid" width="100%">
			<p:panel header="#{msg.loadFile}" style="margin-bottom:10px;">
				<h:form enctype="multipart/form-data">
				    <p:messages showDetail="true"/>
				
				    <p:fileUpload value="#{plasmidController.file}" mode="simple" />
				
				    <p:commandButton value="#{msg.send}" 
				    		ajax="false"
							action="#{plasmidController.loadFile}"
						/>
				
				</h:form>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
