body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 10px;
}

#header {
	height: 80px;
	border-bottom: 3px solid #c0c0c0;
	background: #204080;
	text-align: center;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
}

#header h1 {
	padding-top: 12px;
	font-size: 150%;
}

#header a {
	color : #f0f0f0;
}

#page {
	background: #ffffff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-right: solid 2px #a0a0a0;
	border-bottom: solid 2px #a0a0a0;
}

#container {
	padding: 4px;
}

#content {
	margin-left: 20%;
	min-height: 320px;
	height: 100%;
	font-size: 120%;
	width: 100%;
	margin-left: 15px;
}

#footer {
	text-align: center;
	padding: 8px;
	margin: 8px;
	border-top: 1px solid #c0c0c0;
	clear : both;
}

.panel {
	border: 1px solid #d0d0d0;
	padding: 4px;
	margin: 4px 4px 8px 4px;
	background: #fafafa;
}

.panel h1 {
	font-size: 120%;
	display: block;
	background: #f0f0f0;
	padding: 3px;
	margin: -4px;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 4px;
}

.odd {
	background: #f0f0f0;
}

.even {
	background: #ffffff;
}

.dataTable {
	border-collapse: collapse;;
	width: 100%;
}

.dataTable th {
	background: #204080;
	color: #f0f0f0;
	padding: 6px;
	border: 1px solid #f0f0f0;
}

.dataTable td {
	border: 1px solid #d0d0d0;
	padding: 4px;
}

.caption {
	width: 100px;
}

.formCaption {
	width: 100px;
}

.value {	
	margin-right: 8px;
}

.errorMessage {
	color: #ff0000;
	font-weight: bold;
	padding-left: 8px;
}

.property {
	margin-bottom: 12px;
}

.columnLeft {
	width: 20%;
	text-align: right;
	font-weight: bold;
}

.columnLeftHalf {
	width: 10%;
	text-align: right;
	font-weight: bold;
}

.columnRight {
	width: 80%;
	text-align: left;
}

.columnRightHalf {
	width: 30%;
	text-align: left;
}

.optionList {
  height:22px;
}

.vertical-menu-cell {
    padding:1px 4px 1px 4px;
}

.label {
	font-weight: bold;
}
