<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	>
	<h:head>
		<title>#{msg.browserTitle}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<h:outputStylesheet name="css/screen.css" />
	</h:head>
	<h:body>
		<f:view>
			<h:panelGroup id="page" layout="block">
				<h:panelGroup id="header" layout="block">
					<h1>
						<h:form>
							<p:commandLink action="#{usuarioController.openInicio}" 
									value="#{msg.appTitle}"
									styleClass="header h1"
									style="font-size: 200%; padding-top: 24px; text-decoration: none;"
									ajax="false"
								/>				
						</h:form>
					</h1>
					<h:panelGrid rendered="#{not empty usuarioController.usuarioAutenticado}" columns="3" style="align: right;">
						<p:column>
							#{msg.usuarioMsgOla}
						</p:column>
						<p:column>
							#{usuarioController.usuarioAutenticado.nome}
						</p:column>
						<p:column>
							<h:form>
								[ <p:commandLink action="#{usuarioController.logOff}" value="#{msg.exit}" ajax="false" /> ]
							</h:form>
						</p:column>
					</h:panelGrid>
					<h:panelGrid rendered="#{empty usuarioController.usuarioAutenticado}" columns="1" style="align: right;">
						<p:column>
							<h:form>
								[ <p:commandLink action="#{usuarioController.loginOpen}" value="#{msg.enter}" ajax="false" /> ]
							</h:form>
						</p:column>
					</h:panelGrid>
				</h:panelGroup>
				<h:panelGrid width="100%" columns="1">
					<p:column>
						<ui:include src="/pages/_menu.xhtml" />
					</p:column>
				</h:panelGrid>
				<h:panelGroup id="container" layout="block">
					<h:panelGroup id="content" layout="block" style="width: 98%;">
						<ui:insert name="content">
							Conteudo das paginas do sistema serah inserido aqui
						</ui:insert>
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup id="footer" layout="block">
					<h:outputText value="#{msg.footerText}"
							escape="false" 
						/>
				</h:panelGroup>
			</h:panelGroup>
		</f:view>
	</h:body>
</html>
